<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsoleAlpha</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>ConsoleBackground</key>
	<array>
		<real>0.14935342465753423</real>
		<real>0.22596489726027408</real>
		<real>0.23545102739726018</real>
		<real>1</real>
	</array>
	<key>ConsoleText</key>
	<array>
		<real>0.88316031678082196</real>
		<real>0.71256956335616439</real>
		<real>0.49071596746575341</real>
		<real>1</real>
	</array>
	<key>EditorBackground</key>
	<array>
		<real>0.14901960784313725</real>
		<real>0.22745098039215686</real>
		<real>0.23529411764705882</real>
		<real>1</real>
	</array>
	<key>EditorFlash</key>
	<array>
		<real>0.01332585234194994</real>
		<real>0.15222544968128204</real>
		<real>0.15042024850845337</real>
		<real>1</real>
	</array>
	<key>EditorHighlightBraces</key>
	<array>
		<real>1</real>
		<real>0.64328703703703705</real>
		<real>0.010999999999999999</real>
		<real>1</real>
	</array>
	<key>EditorHighlightContent</key>
	<array>
		<real>0.4756349325</real>
		<real>0.47564673419999998</real>
		<real>0.47564041610000002</real>
		<real>1</real>
	</array>
	<key>EditorInsertionPoint</key>
	<array>
		<real>0.89996254280821919</real>
		<real>0.89378210616438358</real>
		<real>0.78686857876712324</real>
		<real>1</real>
	</array>
	<key>EditorInvisibleChar</key>
	<array>
		<real>0.5</real>
		<real>0.5</real>
		<real>0.5</real>
		<real>1</real>
	</array>
	<key>EditorReverseSync</key>
	<array>
		<real>0.58072251080000004</real>
		<real>0.066734083</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorText</key>
	<array>
		<real>0.89768518518518514</real>
		<real>0.88935185185185184</real>
		<real>0.78770254629629632</real>
		<real>1</real>
	</array>
	<key>ImageBackground</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>ImageForeground</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>LogBackground</key>
	<array>
		<real>0.90001605308219179</real>
		<real>0.8886183647260274</real>
		<real>0.87235124143835618</real>
		<real>1</real>
	</array>
	<key>LogText</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>PreviewAlpha</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<real>1</real>
	</array>
	<key>PreviewBackground</key>
	<array>
		<real>0.83741801979999997</real>
		<real>0.83743780850000005</real>
		<real>0.83742713930000001</real>
		<real>1</real>
	</array>
	<key>PreviewDirectSync</key>
	<array>
		<real>0.88217037671232879</real>
		<real>0.71422838184931503</real>
		<real>0.48860231164383561</real>
		<real>0.59999999999999998</real>
	</array>
	<key>SourceAlpha</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<real>1</real>
	</array>
	<key>SyntaxCommand</key>
	<array>
		<real>0.8808738425925926</real>
		<real>0.7129050925925926</real>
		<real>0.4912037037037037</real>
		<real>1</real>
	</array>
	<key>SyntaxComment</key>
	<array>
		<real>0.42146489950144628</real>
		<real>0.48413497357315932</real>
		<real>0.48871422298063483</real>
		<real>1</real>
	</array>
	<key>SyntaxIndex</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>SyntaxMarker</key>
	<array>
		<real>1</real>
		<real>0.57810515169999999</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>Title</key>
	<string>LiteColors</string>
</dict>
</plist>
