<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsoleAlpha</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>ConsoleBackground</key>
	<array>
		<real>1</real>
		<real>0.88414180278778076</real>
		<real>0.6621735692024231</real>
		<real>0.0</real>
	</array>
	<key>ConsoleText</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorBackground</key>
	<array>
		<real>0.98823535442352295</real>
		<real>0.95686280727386475</real>
		<real>0.86666673421859741</real>
		<real>0.0</real>
	</array>
	<key>EditorHighlightBraces</key>
	<array>
		<real>1</real>
		<real>0.0</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>EditorHighlightContent</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorInsertionPoint</key>
	<array>
		<real>0.94999998807907104</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorInvisibleChar</key>
	<array>
		<real>0.70980393886566162</real>
		<real>0.5372549295425415</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorReverseSync</key>
	<array>
		<real>0.20000000298023224</real>
		<real>0.60000002384185791</real>
		<real>0.99000000953674316</real>
		<real>1</real>
	</array>
	<key>EditorText</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>ImageBackground</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
	</array>
	<key>ImageForeground</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>LogBackground</key>
	<array>
		<real>0.98823535442352295</real>
		<real>0.95686280727386475</real>
		<real>0.86666673421859741</real>
		<real>0.0</real>
	</array>
	<key>LogText</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>PreviewAlpha</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>2</real>
		<real>1</real>
	</array>
	<key>PreviewBackground</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>PreviewDirectSync</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>SourceAlpha</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>SyntaxCommand</key>
	<array>
		<real>0.12941177189350128</real>
		<real>0.46274510025978088</real>
		<real>0.78039216995239258</real>
		<real>1</real>
	</array>
	<key>SyntaxComment</key>
	<array>
		<real>0.40000000596046448</real>
		<real>0.40000000596046448</real>
		<real>0.40000000596046448</real>
		<real>1</real>
	</array>
	<key>SyntaxIndex</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>SyntaxMarker</key>
	<array>
		<real>0.86274510622024536</real>
		<real>0.19607843458652496</real>
		<real>0.18431372940540314</real>
		<real>1</real>
	</array>
	<key>Title</key>
	<string>Solarized</string>
</dict>
</plist>
