<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsoleAlpha</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>ConsoleBackground</key>
	<array>
		<real>0.99609999999999999</real>
		<real>0.97650000000000003</real>
		<real>0.91759999999999997</real>
		<real>1</real>
	</array>
	<key>ConsoleText</key>
	<array>
		<real>0.033429357596719944</real>
		<real>0.49046402351871898</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>EditorBackground</key>
	<array>
		<real>0.79283977126103544</real>
		<real>1</real>
		<real>0.98557844080089796</real>
		<real>1</real>
	</array>
	<key>EditorFlash</key>
	<array>
		<real>0.57280117273330688</real>
		<real>1</real>
		<real>0.86407953500747681</real>
		<real>1</real>
	</array>
	<key>EditorHighlightBraces</key>
	<array>
		<real>1</real>
		<real>0.18242200177391243</real>
		<real>0.12529087129509009</real>
		<real>1</real>
	</array>
	<key>EditorHighlightContent</key>
	<array>
		<real>0.98168387237539145</real>
		<real>0.33953247247587315</real>
		<real>0.15222078779864562</real>
		<real>1</real>
	</array>
	<key>EditorInsertionPoint</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>EditorInvisibleChar</key>
	<array>
		<real>1</real>
		<real>0.25918069807495614</real>
		<real>0.088028086224344326</real>
		<real>1</real>
	</array>
	<key>EditorReverseSync</key>
	<array>
		<real>0.98878045219117583</real>
		<real>1</real>
		<real>0.045831234488410866</real>
		<real>1</real>
	</array>
	<key>EditorText</key>
	<array>
		<real>0.65928378807106602</real>
		<real>0.38994598291545979</real>
		<real>0.51983008054853397</real>
		<real>1</real>
	</array>
	<key>ImageBackground</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>ImageForeground</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>LogBackground</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>LogText</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>PreviewAlpha</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.79489511986301364</real>
	</array>
	<key>PreviewBackground</key>
	<array>
		<real>0.64444850349398974</real>
		<real>0.50768151629424874</real>
		<real>0.99910610914230347</real>
		<real>1</real>
	</array>
	<key>PreviewDirectSync</key>
	<array>
		<real>1</real>
		<real>0.96521091990115915</real>
		<real>0.14273023346244507</real>
		<real>1</real>
	</array>
	<key>SourceAlpha</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.80142337328767121</real>
	</array>
	<key>SyntaxCommand</key>
	<array>
		<real>0.27474149998917763</real>
		<real>0.62317435674832389</real>
		<real>0.95969659090042114</real>
		<real>1</real>
	</array>
	<key>SyntaxComment</key>
	<array>
		<real>0.9175150990486145</real>
		<real>0.45097309643721589</real>
		<real>0.054843174570099809</real>
		<real>1</real>
	</array>
	<key>SyntaxIndex</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>SyntaxMarker</key>
	<array>
		<real>1</real>
		<real>0.97031288926388415</real>
		<real>0.23541475809396384</real>
		<real>1</real>
	</array>
	<key>Title</key>
	<string>TransparentTheme</string>
</dict>
</plist>
