<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>Environments</key>
	<array>
		<string>\begin{itemize}
  \item 
  \item 
  \item 
\end{itemize}</string>
		<string>\begin{enumerate}
  \item 
  \item 
  \item 
\end{enumerate}</string>
		<string>\begin{description}
  \item[]
  \item[]
  \item[]
\end{description}</string>
		<string>\begin{cases}
     &amp; \text{}, \\
     &amp; \text{otherwise}.
\end{cases}</string>
		<string>\begin{equation}\label{}

\end{equation}</string>
		<string>\begin{figure}
  \centering
  \input{}
  \caption{}\label{}
\end{figure}</string>
		<string>\begin{align}\label{}
   &amp;  \\
   &amp; 
\end{align}</string>
		<string>\begin{tabbing}
   \=  \=  \kill
   \&gt;  \&gt;  \\
   \&gt;  \&gt; 
\end{tabbing}</string>
		<string>\begin{table}
  \centering
  \caption{}\label{}
\end{table}</string>
		<string>\begin{tabular}{||} \hline
  % after \\ : \hline or \cline{col1-col2} \cline{col3-col4} ...
   &amp;  &amp;  \\
   &amp;  &amp;  \\
   &amp;  &amp;  \\ \hline
\end{tabular}</string>
		<string>\begin{array}{}
     &amp;  \\
     &amp; 
  \end{array}</string>
		<string>\begin{pmatrix}
     &amp;  \\
     &amp; 
  \end{pmatrix}</string>
		<string>\begin{center}
  \end{center}</string>
		<string>\begin{displaymath}
  \end{displaymath}</string>
		<string>\begin{eqnarray}
A &amp;= &amp; B \\
C &amp; = &amp; D
\end{eqnarray}</string>
	</array>
	<key>Functions1</key>
	<array>
		<string>\cos</string>
		<string>\sin</string>
		<string>\tan</string>
		<string>\cosh</string>
		<string>\sinh</string>
		<string>\tanh</string>
		<string>\inf</string>
		<string>\sup</string>
		<string>\cot</string>
		<string>\min</string>
		<string>\max</string>
		<string>\coth</string>
		<string>\exp</string>
		<string>\ln</string>
		<string>\log</string>
		<string>\arg</string>
		<string>\ker</string>
		<string>\sec</string>
		<string>\gcd</string>
		<string>\dim</string>
		<string>\det</string>
		<string>\hom</string>
		<string>\csc</string>
		<string>\lg</string>
		<string>\arccos</string>
		<string>\arcsin</string>
		<string>\arctan</string>
		<string>\lim</string>
		<string>\liminf</string>
		<string>\limsup</string>
	</array>
	<key>Greek</key>
	<array>
		<string>\alpha</string>
		<string>\beta</string>
		<string>\gamma</string>
		<string>\delta</string>
		<string>\epsilon</string>
		<string>\varepsilon</string>
		<string>\zeta</string>
		<string>\eta</string>
		<string>\theta</string>
		<string>\vartheta</string>
		<string>\iota</string>
		<string>\kappa</string>
		<string>\lambda</string>
		<string>\mu</string>
		<string>\nu</string>
		<string>\xi</string>
		<string>o</string>
		<string>\pi</string>
		<string>\varpi</string>
		<string>\rho</string>
		<string>\varrho</string>
		<string>\sigma</string>
		<string>\varsigma</string>
		<string>\tau</string>
		<string>\upsilon</string>
		<string>\phi</string>
		<string>\varphi</string>
		<string>\chi</string>
		<string>\psi</string>
		<string>\omega</string>
		<string>\Gamma</string>
		<string>\Delta</string>
		<string>\Theta</string>
		<string>\Lambda</string>
		<string>\Xi</string>
		<string>\Pi</string>
		<string>\Sigma</string>
		<string>\Upsilon</string>
		<string>\Phi</string>
		<string>\Psi</string>
		<string>\Omega</string>
	</array>
	<key>International</key>
	<array>
		<string>\'{a}</string>
		<string>\`{a}</string>
		<string>\'{e}</string>
		<string>\`{e}</string>
		<string>\'{\i}</string>
		<string>\`{\i}</string>
		<string>\'{o}</string>
		<string>\`{o}</string>
		<string>\'{u}</string>
		<string>\`{u}</string>
		<string>\oe</string>
		<string>\^{a}</string>
		<string>\"{a}</string>
		<string>\^{e}</string>
		<string>\"{e}</string>
		<string>\^{\i}</string>
		<string>\"{\i}</string>
		<string>\^{o}</string>
		<string>\"{o}</string>
		<string>\^{u}</string>
		<string>\"{u}</string>
		<string>\ae</string>
		<string>\aa</string>
		<string>\AA</string>
		<string>\c{c}</string>
		<string>\~{n}</string>
		<string>\ss</string>
		<string>\o</string>
		<string>\O</string>
		<string>\AE</string>
		<string>\OE</string>
		<string>!`</string>
		<string>?`</string>
		<string>\'{}</string>
		<string>\`{}</string>
		<string>\^{}</string>
		<string>\"{}</string>
		<string>\~{}</string>
		<string>\={}</string>
		<string>\.{}</string>
		<string>\v{}</string>
		<string>\u{}</string>
		<string>\H{}</string>
		<string>\c{}</string>
	</array>
	<key>Math</key>
	<array>
		<string>\hbar</string>
		<string>\imath</string>
		<string>\jmath</string>
		<string>\ell</string>
		<string>\Re</string>
		<string>\Im</string>
		<string>\emptyset</string>
		<string>\infty</string>
		<string>\partial</string>
		<string>\nabla</string>
		<string>\triangle</string>
		<string>\forall</string>
		<string>\exists</string>
		<string>\nexists</string>
		<string>\top</string>
		<string>\bot</string>
		<string>\dag</string>
		<string>\ddag</string>
		<string>\sum</string>
		<string>\prod</string>
		<string>\int</string>
		<string>\oint</string>
		<string>\bigcap</string>
		<string>\bigcup</string>
		<string>\biguplus</string>
		<string>\bigoplus</string>
		<string>\bigotimes</string>
		<string>\bigodot</string>
		<string>\mathbf{ }</string>
		<string>\mathcal{ }</string>
		<string>\mathbb{ }</string>
		<string>\mathrm{ }</string>
		<string>^{sup}</string>
		<string>\widetilde{abc}</string>
		<string>\underbrace{abc}</string>
		<string>\widehat{abc}</string>
		<string>\underline{abc}</string>
		<string>\overrightarrow{abc}</string>
		<string>\sqrt{abc}</string>
		<string>\sqrt[n]{abc}</string>
		<string>\overline{abc}</string>
		<string>\overbrace{abc}</string>
		<string>\frac{abc}{xyz}</string>
		<string>_{sub}</string>
		<string>\hat{a}</string>
		<string>\check{a}</string>
		<string>\breve{a}</string>
		<string>\acute{a}</string>
		<string>\grave{a}</string>
		<string>\tilde{a}</string>
		<string>\bar{a}</string>
		<string>\vec{a}</string>
		<string>\dot{a}</string>
		<string>\ddot{a}</string>
	</array>
	<key>Symbols</key>
	<array>
		<string>\{</string>
		<string>\big\{</string>
		<string>\Big\{</string>
		<string>\bigg\{</string>
		<string>\Bigg\{</string>
		<string>\}</string>
		<string>\[</string>
		<string>\]</string>
		<string>|</string>
		<string>\|</string>
		<string>\cdots</string>
		<string>\subset</string>
		<string>\supset</string>
		<string>\subseteq</string>
		<string>\supseteq</string>
		<string>\in</string>
		<string>\ni</string>
		<string>\sim</string>
		<string>\simeq</string>
		<string>\approx</string>
		<string>\cong</string>
		<string>\vdots</string>
		<string>\propto</string>
		<string>\pm</string>
		<string>\mp</string>
		<string>\times</string>
		<string>\div</string>
		<string>\ast</string>
		<string>\star</string>
		<string>\circ</string>
		<string>\bullet</string>
		<string>\cdot</string>
		<string>\ddots</string>
		<string>\cap</string>
		<string>\cup</string>
		<string>\uplus</string>
		<string>\bigtriangleup</string>
		<string>\bigtriangledown</string>
		<string>\oplus</string>
		<string>\otimes</string>
		<string>\odot</string>
		<string>\neq</string>
		<string>\dagger</string>
		<string>\ngeqslant</string>
		<string>\leqslant</string>
		<string>\geqslant</string>
		<string>\ll</string>
		<string>\gg</string>
		<string>\lll</string>
		<string>\ggg</string>
		<string>\lesssim</string>
		<string>\gtrsim</string>
		<string>\nless</string>
		<string>\ngtr</string>
		<string>\nleqslant</string>
	</array>
	<key>Typeface</key>
	<array>
		<string>\emph{}</string>
		<string>\textrm{}</string>
		<string>\textbf{}</string>
		<string>\textit{}</string>
		<string>\textsc{}</string>
		<string>\textsl{}</string>
		<string>\textmd{}</string>
		<string>\textsf{}</string>
		<string>\texttt{}</string>
		<string>\verb""</string>
		<string>\cite{}</string>
	</array>
</dict>
</plist>
