<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>DefaultCommand</key>
	<string>1</string>
	<key>DocumentWindowPositionMode</key>
	<string>1</string>
        <key>PdfMagnification</key>
	<string>1</string>
	<key>LatexCommand</key>
	<string>/usr/local/bin/pdflatex</string>
	<key>PdfWindowPositionMode</key>
	<string>1</string>
	<key>SaveDocumentFont</key>
	<string>YES</string>
	<key>TSHasBeenUsed</key>
	<string>YES</string>
	<key>TexCommand</key>
	<string>/usr/local/bin/pdftex</string>
</dict>
</plist>
