<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>DefaultCommand</key>
	<string>1</string>
        <key>DefaultScript</key>
	<string>100</string>
        <key>ConsoleBehavior</key>
	<string>0</string>
	<key>DocumentWindowPositionMode</key>
	<string>1</string>
        <key>MakeEmptyDocument</key>
        <string>YES</string>
        <key>UseExternalEditor</key>
        <string>NO</string>
        <key>Encoding</key>
        <string>MacOSRoman</string>
        <key>TagSections</key>
        <string>YES</string>
        <key>LPanelOutlines</key>
        <string>YES</string>
        <key>PdfMagnification</key>
	<string>1</string>
	<key>LatexCommand</key>
	<string>pdflatex</string>
	<key>PdfWindowPositionMode</key>
	<string>1</string>
	<key>SaveDocumentFont</key>
	<string>YES</string>
        <key>ParensMatchingEnabled</key>
	<string>1</string>
        <key>SpellCheckEnabled</key>
	<string>YES</string>
        <key>SyntaxColoringEnabled</key>
	<string>1</string>
        <key>NoScrollEnabled</key>
        <string>YES</string>
	<key>TSHasBeenUsed</key>
	<string>YES</string>
        <key>TetexBinPath</key>
        <string>/usr/local/teTeX/bin/powerpc-apple-darwin-current</string>
        <key>GSBinPath</key>
        <string>/usr/local/bin</string>
	<key>TexCommand</key>
	<string>pdftex</string>
        <key>TexGSCommand</key>
        <string>altpdftex --maxpfb</string>
         <key>LatexGSCommand</key>
        <string>altpdflatex --maxpfb</string>
        <key>SavePSCommand</key>
        <string>NO</string>
        <key>TexScriptCommand</key>
        <string> </string>
         <key>LatexScriptCommand</key>
        <string> </string>
         <key>commentred</key>
        <string> 1.0 </string>
        <key>commentgreen</key>
        <string> 0.0 </string>
        <key>commentblue</key>
        <string> 0.0 </string>
         <key>commandred</key>
        <string> 0.0 </string>
        <key>commandgreen</key>
        <string> 0.0 </string>
        <key>commandblue</key>
        <string> 1.0 </string>
         <key>markerred</key>
        <string> 0.02 </string>
        <key>markergreen</key>
        <string> 0.51 </string>
        <key>markerblue</key>
        <string> 0.13 </string>
        <key>tabs</key>
        <string>4</string>
</dict>
</plist>
