<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">

<!--  
	Advanced users can change the behavior of the Matrix Panel with this file.
        The strings represent the text which is inserted when creating a Matrix, the meaning is the following:
        --start of array environment
        --column alignment character
        --end of begin array tag
        --column delimiter
        --line break characters
        --end array environment
        --\left and
        --\right strings 8in order to produce correctly sized brackets
        --3 pairs of brackets
        --vertical bar
        --dot (invisible "bracket")
        --double vertical bar

	 
--> 

<dict>
	        <key>Matrix</key>
   <array>
<string>\begin{array}{</string>
<string>c</string>
<string>}</string>
<string> &amp; </string>
<string> \\</string>
<string>\end{array}</string>
<string>\left</string>
<string>\right</string>
<string>(</string>
<string>)</string>
<string>[</string>
<string>]</string>
<string>\{</string>
<string>\}</string>
<string>|</string>
<string>.</string>
<string>\|</string>
</array>  

</dict>
</plist>
