/* Localized versions of Info.plist keys */

{
    NSInfoPlistVersion = "6.1";
    NSAppVersion = "1.15";
    NSHumanReadableShortName = "TeXShop";
    NSHumanReadableCompleteName = "TeXShop"; 
    NSHumanReadableCopyright = "Copyright (c) 2001-2002, Eugene Algorithms";
    CFBundleDocumentTypes = (
     {
        CFBundleTypeName = "tex";
        CFBundleTypeReadableName = "TeX Document";
        CFBundleTypeExtensions = ("tex", "TEX", "txt", "TXT");
        CFBundleOSTypes = ("TEXT", "????");
        CFBundleDOSNames = ("tex");
        CFBundleTypeRole = Editor;
        NSDocumentClass = MyDocument;
      }
      {
        CFBundleTypeName = "NSPDFPboardType";
        CFBundleTypeReadableName = "PDF Document";
        CFBundleTypeExtensions = ("pdf");
        CFBundleOSTypes = ("PDF");
        CFBundleDOSNames = ("pdf");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = MyDocument;
      }
      {
        CFBundleTypeName = "NSTIFFPboardType";
        CFBundleTypeReadableName = "TIFF Document";
        CFBundleTypeExtensions = ("tiff", "tif");
        CFBundleOSTypes = ("TIFF");
        CFBundleDOSNames = ("tiff");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = MyDocument;
      }
       {
        CFBundleTypeName = "NSEPSPboardType";
        CFBundleTypeReadableName = "EPS Document";
        CFBundleTypeExtensions = ("eps");
        CFBundleOSTypes = ("EPS");
        CFBundleDOSNames = ("eps");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = MyDocument;
      }
    {
        CFBundleTypeName = "LogFile";
        CFBundleTypeReadableName = "TeX Log File";
        CFBundleTypeExtensions = ("log");
        CFBundleOSTypes = ("LOG");
        CFBundleDOSNames = ("eps");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = MyDocument;
      }
      {
        CFBundleTypeName = "AuxFile";
        CFBundleTypeReadableName = "TeX Aux File";
        CFBundleTypeExtensions = ("aux");
        CFBundleOSTypes = ("AUX");
        CFBundleDOSNames = ("aux");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = MyDocument;
      }
       {
        CFBundleTypeName = "DVIFile";
        CFBundleTypeReadableName = "TeX DVI File";
        CFBundleTypeExtensions = ("dvi");
        CFBundleOSTypes = ("DVI");
        CFBundleDOSNames = ("dvi");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = MyDocument;
      }
      {
        CFBundleTypeName = "BibFile";
        CFBundleTypeReadableName = "TeX bib File";
        CFBundleTypeExtensions = ("bib");
        CFBundleOSTypes = ("BIB");
        CFBundleDOSNames = ("bib");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = MyDocument;
      }
      {
        CFBundleTypeName = "PostscriptFile";
        CFBundleTypeReadableName = "Postscript File";
        CFBundleTypeExtensions = ("ps");
        CFBundleOSTypes = ("PS");
        CFBundleDOSNames = ("ps");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = MyDocument;
      }
      {
        CFBundleTypeName = "TexshopFile";
        CFBundleTypeReadableName = "TeXShop Root File";
        CFBundleTypeExtensions = ("texshop");
        CFBundleDOSNames = ("texshop");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = MyDocument;
      }
      {
        CFBundleTypeName = "MetapostFile";
        CFBundleTypeReadableName = "MetaPost File";
        CFBundleTypeExtensions = ("mp");
        CFBundleDOSNames = ("MP");
        CFBundleTypeRole = Viewer;
        NSDocumentClass = MyDocument;
      }
    );
}