<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ROOT</string>
	<key>submenu</key>
	<array>
		<dict>
			<key>name</key>
			<string>Applescript</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>--AppleScript

tell application "Acrobat Reader 5.0"
  activate
  open POSIX file #PDFPATH#
end tell
</string>
					<key>name</key>
					<string>View pdf with Acrobat</string>
				</dict>
				<dict>
					<key>content</key>
					<string>--AppleScript
-- #FILEPATH# in the text will be replaced by the path of the document
-- #DVIPATH#, #PSPATH#, #PDFPATH# are also replaced by the paths of .dvi, .ps, .dvi files.  
-- to use the path in Finder, use (alias POSIX file filepath)
-- example: show tex and pdf files in Finder

try
tell application "Finder"
  activate
  reveal {alias POSIX file #FILEPATH#, alias POSIX file #PDFPATH#}
end tell
on error
end try</string>
					<key>name</key>
					<string>Show files</string>
				</dict>
				<dict>
					<key>content</key>
					<string>--AppleScript
-- If the content field starts with "--AppleScript" then it will be interpreted as an AppleScript and will be executed.  
-- example: show TeXShop home page in a web browser

open location "http://darkwing.uoregon.edu/~koch/texshop/texshop.html"</string>
					<key>name</key>
					<string>TeXShop home page</string>
				</dict>
				<dict>
					<key>content</key>
					<string>--AppleScript
-- If the content field starts with "--AppleScript" then it will be interpreted as an AppleScript and will be executed.  

open location "http://www.rna.nl/tex.html"</string>
					<key>name</key>
					<string>teTeX/TeXLive home page</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>name</key>
			<string>encoding</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>\enableregime[#SEL# #INS#]  </string>
					<key>name</key>
					<string>mac input</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\usetypescript[berry][ec]  </string>
					<key>name</key>
					<string>berry ec</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\usetypescript[berry][texnansi]  </string>
					<key>name</key>
					<string>berry texnansi</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>font</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string> \usetypescript[palatino][\defaultencoding] \setupbodyfont[palatino]</string>
					<key>name</key>
					<string>palatino - modern</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\usetypescript[postscript][\defaultencoding] \setupbodyfont[postscript]</string>
					<key>name</key>
					<string>times - helvetica - courier</string>
				</dict>
				<dict>
					<key>name</key>
					<string>body font size</string>
					<key>submenu</key>
					<array>
						<dict>
							<key>content</key>
							<string>\setupbodyfont[10pt]
</string>
							<key>name</key>
							<string>10 points</string>
						</dict>
						<dict>
							<key>content</key>
							<string>\setupbodyfont[11pt]
</string>
							<key>name</key>
							<string>11 points</string>
						</dict>
						<dict>
							<key>content</key>
							<string>\setupbodyfont[12pt]
</string>
							<key>name</key>
							<string>12 points</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>main document style</string>
					<key>submenu</key>
					<array>
						<dict>
							<key>content</key>
							<string>\setupbodyfont[ss]</string>
							<key>name</key>
							<string>serif</string>
						</dict>
						<dict>
							<key>content</key>
							<string>\setupbodyfont[rm]</string>
							<key>name</key>
							<string>sans serif</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>color</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>\setupcolors[state=start] </string>
					<key>name</key>
					<string>both rgb and cmyk</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\setupcolors[state=start,cmyk=no]</string>
					<key>name</key>
					<string>rgb only</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\setupcolors[state=start,rgb=no]</string>
					<key>name</key>
					<string>cmyk only</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\definecolor[#SEL##INS#][r=.5,g=.5,b=.5]</string>
					<key>name</key>
					<string>define rgb color</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\definecolor[#SEL##INS#][c=.5,m=.5,y=.5,k=.5]</string>
					<key>name</key>
					<string>define cmyk color</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\definecolor[#SEL##INS#][s=.5]</string>
					<key>name</key>
					<string>define gray scale</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>structure</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>% encoding related settings 
    
% font definitions 
    
% style definitions 
    
% document content 
  
\starttext 

\stoptext </string>
					<key>name</key>
					<string>document</string>
				</dict>
				<dict>
					<key>name</key>
					<string>numbered head</string>
					<key>submenu</key>
					<array>
						<dict>
							<key>content</key>
							<string>\chapter[#SEL##INS#]{}</string>
							<key>name</key>
							<string>chapter</string>
						</dict>
						<dict>
							<key>content</key>
							<string>\section[#SEL##INS#]{}</string>
							<key>name</key>
							<string>section</string>
						</dict>
						<dict>
							<key>content</key>
							<string>\subsection[#SEL##INS#]{}</string>
							<key>name</key>
							<string>subsection</string>
						</dict>
						<dict>
							<key>content</key>
							<string>\subsubsection[#SEL##INS#]{}</string>
							<key>name</key>
							<string>subsubsection</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>unnumbered head</string>
					<key>submenu</key>
					<array>
						<dict>
							<key>content</key>
							<string>\title{#SEL##INS#}</string>
							<key>name</key>
							<string>title</string>
						</dict>
						<dict>
							<key>content</key>
							<string>\subject{#SEL##INS#}</string>
							<key>name</key>
							<string>subject</string>
						</dict>
						<dict>
							<key>content</key>
							<string>\subsubject{#SEL##INS#}</string>
							<key>name</key>
							<string>subsubject</string>
						</dict>
						<dict>
							<key>content</key>
							<string>\subsubsubject{#SEL##INS#}</string>
							<key>name</key>
							<string>subsubsubject</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>elements</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>\startitemize 
\item #SEL##INS#
\item 
\stopitemize</string>
					<key>name</key>
					<string>itemize normal</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\startitemize[packed] 
\item #SEL##INS#
\item 
\stopitemize</string>
					<key>name</key>
					<string>itemize packed</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\definedescription
     [#SEL##INS#]
     [location=left,
        style=normal,
        headstyle=bold]</string>
					<key>name</key>
					<string>define descriptions</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\defineenumeration
    [#SEL##INS#]
       [location=top,
        style=normal,
        headstyle=bold]</string>
					<key>name</key>
					<string>define enumeration</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\startdescription {#SEL##INS#}

\stopdescription</string>
					<key>name</key>
					<string>description</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\startenumeration
#INS#
\stopenumeration</string>
					<key>name</key>
					<string>enumeration</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\startsubenumeration
#INS#
\stopsubenumeration
</string>
					<key>name</key>
					<string>sub enumeration</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>buffers</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>\startbuffer
#INS#
\stopbuffer</string>
					<key>name</key>
					<string>define</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\getbuffer</string>
					<key>name</key>
					<string>use</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\typebuffer</string>
					<key>name</key>
					<string>type</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>math</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>$#INS#$</string>
					<key>name</key>
					<string>inline</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\startformula
#SEL##INS#
\stopformula</string>
					<key>name</key>
					<string>display</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\placeformula [for:ref]  
\startformula
#SEL##INS#      
\stopformula</string>
					<key>name</key>
					<string>numbered</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>styles</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>\bold{#SEL##INS#}</string>
					<key>name</key>
					<string>bold</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\slanted{#SEL##INS#}</string>
					<key>name</key>
					<string>slanted</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\boldslanted{#SEL##INS#}</string>
					<key>name</key>
					<string>boldslanted</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\italic{#SEL##INS#}</string>
					<key>name</key>
					<string>italic</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\type{#SEL##INS#}</string>
					<key>name</key>
					<string>verbatim</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\smallcaps{#SEL##INS#}</string>
					<key>name</key>
					<string>small caps</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\cap{#SEL##INS#}</string>
					<key>name</key>
					<string>pseudo caps</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>verbatim</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>\type{#SEL##INS#}</string>
					<key>name</key>
					<string>inline</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\starttyping
#SEL##INS#
\stoptyping</string>
					<key>name</key>
					<string>display</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>graphics</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>\placefigure
   [here]
   [fig:ref]
   {}
   {}</string>
					<key>name</key>
					<string>place graphic here</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\externalfigure[#SEL##INS#][height=4cm]</string>
					<key>name</key>
					<string>external graphic</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>tables</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>\placetable
    [here]
    [tab:ref]
    {}
    {}
</string>
					<key>name</key>
					<string>place table here</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\starttabulate[|l|p|]
  \NC \NC \NC \NR  
  \NC \NC \NC \NR  
  \NC \NC \NC \NR  
\stoptabulate  </string>
					<key>name</key>
					<string>tabulate</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\starttable[|l|l|l|]
  \NC \NC \NC \NC \AR 
  \NC \NC \NC \NC \AR  
  \NC \NC \NC \NC \AR  
\stoptable  </string>
					<key>name</key>
					<string>table</string>
				</dict>
				<dict>
					<key>content</key>
					<string> \bTABLE
      \bTR 
        \bTD \eTD 
        \bTD \eTD 
      \eTR  
    \eTABLE</string>
					<key>name</key>
					<string>html table</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>metapost</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>\startMPcode
#INS# 
\stopMPcode</string>
					<key>name</key>
					<string>code</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\startusableMPgraphic{#SEL#}
\stopusableMPgraphic  </string>
					<key>name</key>
					<string>define use</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\startreusableMPgraphic{#SEL#}
\stopreusableMPgraphic</string>
					<key>name</key>
					<string>define reuse</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\startuniqueMPgraphic{#SEL#}
\stopuniqueMPgraphic  </string>
					<key>name</key>
					<string>define unique</string>
				</dict>
				<dict>
					<key>content</key>
					<string>\useMPgraphic{#SEL#}
\reuseMPgraphic{#SEL#}
\uniqueMPgraphic{#SEL#}</string>
					<key>name</key>
					<string>usage</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
