<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCommand</key>
	<string>1</string>
	<key>DefaultEngine</key>
	<string>XeLaTeX</string>
	<key>DefaultScript</key>
	<string>101</string>
	<key>ConsoleBehavior</key>
	<string>0</string>
	<key>SaveRelated</key>
	<string>NO</string>
	<key>DocumentWindowPositionMode</key>
	<string>1</string>
	<key>MakeEmptyDocument</key>
	<string>YES</string>
	<key>UseExternalEditor</key>
	<string>NO</string>
	<key>Encoding</key>
	<string>DOSJapanese</string>
	<key>TagSections</key>
	<string>YES</string>
	<key>LPanelOutlines</key>
	<string>YES</string>
	<key>PdfMagnification</key>
	<string>1</string>
	<key>LatexCommand</key>
	<string>pdflatex --file-line-error --shell-escape --synctex=1</string>
	<key>PdfWindowPositionMode</key>
	<string>1</string>
	<key>SaveDocumentFont</key>
	<string>YES</string>
	<key>ParensMatchingEnabled</key>
	<string>1</string>
	<key>SpellCheckEnabled</key>
	<string>YES</string>
	<key>AutoCompleteEnabled</key>
	<string>NO</string>
	<key>AlwaysHighlightEnabled</key>
	<string>NO</string>
	<key>HighlightContentEnabled</key>
	<string>YES</string>
	<key>ShowFullPathEnabled</key>
	<string>NO</string>
	<key>ShowIndicatorForMoveEnabled</key>
	<string>NO</string>
	<key>BeepEnabled</key>
	<string>NO</string>
	<key>FlashBackgroundEnabled</key>
	<string>NO</string>
	<key>CheckBraceEnabled</key>
	<string>YES</string>
	<key>CheckBracketEnabled</key>
	<string>NO</string>
	<key>CheckSquareBracketEnabled</key>
	<string>YES</string>
	<key>CheckParenEnabled</key>
	<string>YES</string>
	<key>MakeatletterEnabled</key>
	<string>YES</string>
	<key>SyntaxColoringEnabled</key>
	<string>1</string>
	<key>FastColor</key>
	<string>NO</string>
	<key>KeepBackup</key>
	<string>NO</string>
	<key>NoScrollEnabled</key>
	<string>YES</string>
	<key>TSHasBeenUsed</key>
	<string>YES</string>
	<key>TetexBinPath</key>
	<string>/usr/local/bin</string>
	<key>GSBinPath</key>
	<string>/usr/local/bin</string>
	<key>TexCommand</key>
	<string>pdftex --file-line-error --shell-escape --synctex=1</string>
	<key>TexGSCommand</key>
	<string>~/Library/TeXShop/bin/ptex2pdf-sjis</string>
	<key>LatexGSCommand</key>
	<string>~/Library/TeXShop/bin/platex2pdf-sjis</string>
	<key>MetaPostCommand</key>
	<string>0</string>
	<key>BibtexCommand</key>
	<string>1</string>
	<key>DistillerCommand</key>
	<string>0</string>
	<key>SavePSCommand</key>
	<string>NO</string>
	<key>TexScriptCommand</key>
	<string> </string>
	<key>LatexScriptCommand</key>
	<string> </string>
	<key>commentred</key>
	<string> 1.0 </string>
	<key>commentgreen</key>
	<string> 0.0 </string>
	<key>commentblue</key>
	<string> 0.0 </string>
	<key>commandred</key>
	<string> 0.0 </string>
	<key>commandgreen</key>
	<string> 0.0 </string>
	<key>commandblue</key>
	<string> 1.0 </string>
	<key>markerred</key>
	<string> 0.02 </string>
	<key>markergreen</key>
	<string> 0.51 </string>
	<key>markerblue</key>
	<string> 0.13 </string>
	<key>indexred</key>
	<string> 1.00 </string>
	<key>indexgreen</key>
	<string> 1.00 </string>
	<key>indexblue</key>
	<string> 0.00 </string>
	<key>matrixsize</key>
	<integer>12</integer>
	<key>tabs</key>
	<string>4</string>
	<key>background_R</key>
	<string> 1.0 </string>
	<key>background_G</key>
	<string> 1.0 </string>
	<key>background_B</key>
	<string> 1.0 </string>
	<key>backgroundAlpha</key>
	<string>0.00</string>
	<key>WarnForShellEscape</key>
	<string>NO</string>
	<key>PdfPageStyle</key>
	<string>3</string>
	<key>PdfRefresh</key>
	<string>NO</string>
	<key>PdfFirstPageStyle</key>
	<string>1</string>
	<key>PdfFitSize</key>
	<string>-101</string>
	<key>PdfKitFitSize</key>
	<string>3</string>
	<key>PdfCopyType</key>
	<string>31</string>
	<key>PdfMouseMode</key>
	<string>2</string>
	<key>PdfKitMouseMode</key>
	<string>2</string>
	<key>PdfExportType</key>
	<string>2</string>
	<key>PdfColorMap</key>
	<string>0</string>
	<key>PdfColorParam1</key>
	<string>0</string>
	<key>PdfFore_A</key>
	<string>1</string>
	<key>PdfFore_B</key>
	<string>0</string>
	<key>PdfFore_G</key>
	<string>0</string>
	<key>PdfFore_R</key>
	<string>0</string>
	<key>PdfBack_A</key>
	<string>0</string>
	<key>PdfBack_B</key>
	<string>1</string>
	<key>PdfBack_G</key>
	<string>1</string>
	<key>PdfBack_R</key>
	<string>1</string>
	<key>foreground_R</key>
	<string>0.00</string>
	<key>foreground_G</key>
	<string>0.00</string>
	<key>foreground_B</key>
	<string>0.00</string>
	<key>insertionpoint_R</key>
	<string>0.00</string>
	<key>insertionpoint_G</key>
	<string>0.00</string>
	<key>insertionpoint_B</key>
	<string>0.00</string>
	<key>RefreshTime</key>
	<string>1.00</string>
	<key>PdfFileRefresh</key>
	<string>YES</string>
	<key>ExternalEditorTypesetAtStart</key>
	<string>YES</string>
	<key>ptexUtfOutput</key>
	<string>NO</string>
	<key>ConvertLF</key>
	<string>YES</string>
	<key>UseOgreKit</key>
	<string>YES</string>
	<key>BringPdfFrontOnAutomaticUpdate</key>
	<string>YES</string>
	<key>BringPdfFrontOnTypeset</key>
	<string>YES</string>
	<key>SourceWindowAlpha</key>
	<string>1.00</string>
	<key>PreviewWindowAlpha</key>
	<string>1.00</string>
	<key>ConsoleWindowAlpha</key>
	<string>1.00</string>
	<key>OtherTrashExtensions</key>
	<array/>
	<key>AggressiveTrashAUX</key>
	<string>NO</string>
	<key>ShowSyncMarks</key>
	<string>NO</string>
	<key>AcceptFirstMouse</key>
	<string>YES</string>
	<key>UseOldHeadingCommands</key>
	<string>NO</string>
	<key>SyncMethod</key>
	<string>3</string>
	<key>UseOutline</key>
	<string>YES</string>
	<key>LeftRightArrowsAlwaysPage</key>
	<string>NO</string>
	<key>Pdfbackground_R</key>
	<string>1.00</string>
	<key>Pdfbackground_G</key>
	<string>1.00</string>
	<key>Pdfbackground_B</key>
	<string>1.00</string>
	<key>LineBreakMode</key>
	<string>1</string>
	<key>ReleaseDocumentClasses</key>
	<string>1</string>
	<key>RedConsoleAfterError</key>
	<string>NO</string>
	<key>PreviewDrawerOpen</key>
	<string>NO</string>
	<key>ConTeXtTags</key>
	<string>NO</string>
	<key>RevisePath</key>
	<string>YES</string>
	<key>OtherTeXExtensions</key>
	<array/>
	<key>ReleaseDocumentOnLeopard</key>
	<string>YES</string>
	<key>BibDeskCompletion</key>
	<string>NO</string>
	<key>SyncTeXOnly</key>
	<string>NO</string>
	<key>LineNumberEnabled</key>
	<string>YES</string>
	<key>ConsoleBackgroundColor_R</key>
	<string>.9961</string>
	<key>ConsoleBackgroundColor_G</key>
	<string>.9765</string>
	<key>ConsoleBackgroundColor_B</key>
	<string>.9176</string>
	<key>ConsoleBackgroundAlpha</key>
	<string>0.00</string>
	<key>ConsoleForegroundColor_R</key>
	<string>0.00</string>
	<key>ConsoleForegroundColor_G</key>
	<string>0.00</string>
	<key>ConsoleForegroundColor_B</key>
	<string>0.00</string>
	<key>ConsoleFontName</key>
	<string>Monaco</string>
	<key>ConsoleFontSize</key>
	<string>10.0</string>
	<key>ConsoleWidthResize</key>
	<string>NO</string>
	<key>RightJustify</key>
	<string>NO</string>
	<key>CommandCompletionChar</key>
	<string>ESCAPE</string>
	<key>CommandCompletionAlterateMarkShortcut</key>
	<string>YES</string>
	<key>ShowSpaceCharacter</key>
	<string>NO</string>
	<key>ShowFullwidthSpaceCharacter</key>
	<string>NO</string>
	<key>ShowTabCharacter</key>
	<string>NO</string>
	<key>ShowNewLineCharacter</key>
	<string>NO</string>
	<key>SpaceCharacterKind</key>
	<string>0</string>
	<key>FullwidthSpaceCharacterKind</key>
	<string>0</string>
	<key>TabCharacterKind</key>
	<string>0</string>
	<key>NewLineCharacterKind</key>
	<string>0</string>
	<key>LastStyName</key>
	<string>latex.ltx</string>
	<key>Kpsetool</key>
	<string>kpsewhich -w -n latex tex</string>
	<key>BibTeXengine</key>
	<string>pbibtex</string>
	<key>SmartInsertDelete</key>
	<string>NO</string>
	<key>AutomaticDataDetection</key>
	<string>NO</string>
	<key>AutomaticLinkDetection</key>
	<string>NO</string>
	<key>AutomaticTextReplacement</key>
	<string>NO</string>
	<key>AutomaticDashSubstitution</key>
	<string>NO</string>
	<key>AutomaticQuoteSubstitution</key>
	<string>NO</string>
	<key>AutomaticUTF8MACtoUTF8Conversion</key>
	<string>YES</string>
	<key>highlightBracesRed</key>
	<string>1.00</string>
	<key>highlightBracesGreen</key>
	<string>0.00</string>
	<key>highlightBracesBlue</key>
	<string>1.00</string>
	<key>highlightContentRed</key>
	<string>1.00</string>
	<key>highlightContentGreen</key>
	<string>1.00</string>
	<key>highlightContentBlue</key>
	<string>0.00</string>
	<key>invisibleCharRed</key>
	<string>1.00</string>
	<key>invisibleCharGreen</key>
	<string>0.50</string>
	<key>invisibleCharBlue</key>
	<string>0.00</string>
	<key>brieflyFlashYellowForMatch</key>
	<string>YES</string>
	<key>syncWithRedOvals</key>
	<string>NO</string>
</dict>
</plist>
