<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12D78</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tex</string>
				<string>TEX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconsTeX.icns</string>
			<key>CFBundleTypeName</key>
			<string>TeX File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.uo.texshop.tex</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ltx</string>
				<string>latex</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconsTeX.icns</string>
			<key>CFBundleTypeName</key>
			<string>LaTeX File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.uo.texshop.ltx</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ctx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconsTeX.icns</string>
			<key>CFBundleTypeName</key>
			<string>ConTeXt File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.uo.texshop.ctx</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>texi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconsTeX.icns</string>
			<key>CFBundleTypeName</key>
			<string>TEXI File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.uo.texshop.texi</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>mp</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.mp</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sty</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>sty</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>STY</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.sty</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cls</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>cls</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CLS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.cls</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>mf</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.mf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bst</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>bst</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BST</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.bst</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bib</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>bib</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BIB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.bib</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>comment</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>comment</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>COMMENT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.uo.texshop.comment</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>engine</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>engine</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.uo.texshop.comment</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconsPDF.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF Data</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>tif</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSTIFFPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PNG image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>jpeg</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>jpeg</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eps</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/postscript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSEPSPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EPS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.encapsulated-postscript</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>epsi</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/postscript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>epsi</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EPSI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.epsi</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>log</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>log</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LOG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.log</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aux</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>aux</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AUX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.aux</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ps</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/postscript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PostscriptFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.postscript</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>htx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hiero.icns</string>
			<key>CFBundleTypeName</key>
			<string>HieroTeX File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>HTX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.htx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sk</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Sketch File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.sk</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>texshop</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>texshop</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.uo.texshop.texshop</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dvi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>dvi</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DVI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.tex.dvi</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ins</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ins</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>INS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.ins</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dtx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>dtx</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DTX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.tug.dtx</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>drv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>drv</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DRV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.drv</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>def</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>def</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DEF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.def</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>fd</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FD</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.fd</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>clo</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>clo</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CLO</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.clo</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dn</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>dn</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.dn</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>abc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>abc</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ABC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.abc</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ly</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ly</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LY</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.ly</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>Rnw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Rnw</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RNW</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.Rnw</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asy</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>asy</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ASY</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.asy</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>Stex</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Stex</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>STEX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.Stex</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lytex</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>lytex</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LYTEX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.lytex</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>cbx</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CBX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.cbx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lbx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>lbx</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LBX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.lbx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bbx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>bbx</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BBX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.bbx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>skt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>skt</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SKT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.skt</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>utf8</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSStringPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>md</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>md</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.md</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Plain Text</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>????</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Any File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fdd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>fdd</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.fdd</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lhs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Haskell literate script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.unknown.lhs</string>
			</array>
			<key>NSDocumentClass</key>
			<string>TSDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>TeXShop</string>
	<key>CFBundleGetInfoString</key>
	<string>3.45.1, Copyright 2001-2014, Richard Koch</string>
	<key>CFBundleHelpBookFolder</key>
	<string>TeXShopHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>TeXShop Help</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>TeXShop</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.1</string>
	<key>CFBundleName</key>
	<string>TeXShop</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.45.1</string>
	<key>CFBundleSignature</key>
	<string>TeXs</string>
	<key>CFBundleVersion</key>
	<string>3.45.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4H1003</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0462</string>
	<key>DTXcodeBuild</key>
	<string>4H1003</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>TSApplication</string>
	<key>SUFeedURL</key>
	<string>http://pages.uoregon.edu/koch/texshop/texshop-64/texshopappcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
				<string>com.tug.tex</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TeX File</string>
			<key>UTTypeIconFile</key>
			<string>IconsTeX.icns</string>
			<key>UTTypeIdentifier</key>
			<string>edu.uo.texshop.tex</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tex</string>
					<string>TEX</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
				<string>com.tug.tex</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LaTeX File</string>
			<key>UTTypeIconFile</key>
			<string>IconsTeX.icns</string>
			<key>UTTypeIdentifier</key>
			<string>edu.uo.texshop.ltx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ltx</string>
					<string>LTX</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
				<string>com.tug.tex</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ConTeXt File</string>
			<key>UTTypeIconFile</key>
			<string>IconsTeX.icns</string>
			<key>UTTypeIdentifier</key>
			<string>edu.uo.texshop.ctx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ctx</string>
					<string>CTX</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
				<string>com.tug.tex</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TEXI File</string>
			<key>UTTypeIconFile</key>
			<string>IconsTeX.icns</string>
			<key>UTTypeIdentifier</key>
			<string>edu.uo.texshop.texi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>texi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>texshop</string>
			<key>UTTypeIdentifier</key>
			<string>edu.uo.texshop.texshop</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>texshop</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>comment</string>
			<key>UTTypeIdentifier</key>
			<string>edu.uo.texshop.comment</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>comment</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>engine</string>
			<key>UTTypeIdentifier</key>
			<string>edu.uo.texshop.engine</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>engine</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PDF Data</string>
			<key>UTTypeIconFile</key>
			<string>IconsPDF.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>NSPDFPBoardType</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>'PDF</string>
					<string>'</string>
					<string>pdf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Encapsulated Postscript</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.encapsulated-postscript</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>NSEPSPBoardType</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>eps</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PNG image</string>
			<key>UTTypeIdentifier</key>
			<string>public.png</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>png</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JPEG image</string>
			<key>UTTypeIdentifier</key>
			<string>public.jpeg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>'JPEG'</string>
					<string>jpg</string>
					<string>jpeg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TIFF Image</string>
			<key>UTTypeIdentifier</key>
			<string>public.tiff</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>NSTIFFPBoardType</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>'TIFF'</string>
					<string>tif</string>
					<string>tiff</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PostScript Data</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.postscript</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ps</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Unicode 8</string>
			<key>UTTypeIdentifier</key>
			<string>public.utf8-plain-text</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>NSStringPBoardType</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>utf8</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Plain Text</string>
			<key>UTTypeIdentifier</key>
			<string>public.plain-text</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>txt</string>
					<string>text</string>
					<string>*</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>mp</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.mp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>mf</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.mf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>sty</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.sty</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sty</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>cls</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.cls</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cls</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public</string>
				<string>text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>bst</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.bst</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bst</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>bib</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.bib</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bib</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>log</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.log</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>log</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>aux</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.aux</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>aux</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>dvi</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.tex.dvi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dvi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>dtx</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.dtx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dtx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>drv</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.drv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>drv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>def</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.def</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>def</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>epsi</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.epsi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>epsi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Hiero File</string>
			<key>UTTypeIconFile</key>
			<string>hiero.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.htx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>htx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sketch File</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.sk</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sk</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>fd</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.fd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>clo</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.clo</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>clo</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ins</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.ins</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ins</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>dn</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.dn</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dn</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>abc</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.abc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>abc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ly</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.ly</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ly</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Rnw</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.Rnw</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>Rnw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>asy</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.asy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>asy</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Stex</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.Stex</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>Stex</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>lytex</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.lytex</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lytex</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>cbx</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.cbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cbx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>lbx</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.lbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lbx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>bbx</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.bbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bbx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>skt</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.skt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>skt</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>md</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.md</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Any File</string>
			<key>UTTypeIdentifier</key>
			<string>public.data</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>*</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>fdd</string>
			<key>UTTypeIdentifier</key>
			<string>org.tug.fdd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fdd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public_text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Haskell literate script</string>
			<key>UTTypeIdentifier</key>
			<string>com.unknown.lhs</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lhs</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
