<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsoleAlpha</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>ConsoleBackground</key>
	<array>
		<real>0.99610000848770142</real>
		<real>0.97649997472763062</real>
		<real>0.91759997606277466</real>
		<real>0.0</real>
	</array>
	<key>ConsoleText</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorBackground</key>
	<array>
		<real>0.0</real>
		<real>0.16899999976158142</real>
		<real>0.21199999749660492</real>
		<real>0.0</real>
	</array>
	<key>EditorFlash</key>
	<array>
		<real>0.015786990523338318</real>
		<real>0.12959235906600952</real>
		<real>0.12810835242271423</real>
		<real>1</real>
	</array>
	<key>EditorHighlightBraces</key>
	<array>
		<real>1</real>
		<real>0.0</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>EditorHighlightContent</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorInsertionPoint</key>
	<array>
		<real>0.51399999856948853</real>
		<real>0.57999998331069946</real>
		<real>0.58899998664855957</real>
		<real>1</real>
	</array>
	<key>EditorInvisibleChar</key>
	<array>
		<real>1</real>
		<real>0.5</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorReverseSync</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorText</key>
	<array>
		<real>0.51399999856948853</real>
		<real>0.57999998331069946</real>
		<real>0.58899998664855957</real>
		<real>1</real>
	</array>
	<key>FootnoteColor</key>
	<array>
		<real>0.81043398380279541</real>
		<real>0.1117527186870575</real>
		<real>0.1393231600522995</real>
		<real>1</real>
	</array>
	<key>ImageBackground</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
	</array>
	<key>ImageForeground</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>LogBackground</key>
	<array>
		<real>0.0</real>
		<real>0.16899999976158142</real>
		<real>0.21199999749660492</real>
		<real>0.0</real>
	</array>
	<key>LogText</key>
	<array>
		<real>0.51399999856948853</real>
		<real>0.57999998331069946</real>
		<real>0.58899998664855957</real>
		<real>1</real>
	</array>
	<key>PreviewAlpha</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>2</real>
		<real>1</real>
	</array>
	<key>PreviewBackground</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>PreviewDirectSync</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>SourceAlpha</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>SyntaxCommand</key>
	<array>
		<real>0.86000001430511475</real>
		<real>0.19599999487400055</real>
		<real>0.18400000035762787</real>
		<real>1</real>
	</array>
	<key>SyntaxComment</key>
	<array>
		<real>0.59923825925061591</real>
		<real>0.1415595600346804</real>
		<real>0.84935736020809505</real>
		<real>1</real>
	</array>
	<key>SyntaxIndex</key>
	<array>
		<real>0.82999998331069946</real>
		<real>0.20999999344348907</real>
		<real>0.50999999046325684</real>
		<real>1</real>
	</array>
	<key>SyntaxMarker</key>
	<array>
		<real>0.16500000655651093</real>
		<real>0.62999999523162842</real>
		<real>0.59600001573562622</real>
		<real>1</real>
	</array>
	<key>XMLComment</key>
	<array>
		<real>0.5</real>
		<real>0.5</real>
		<real>0.5</real>
		<real>1</real>
	</array>
	<key>XMLTag</key>
	<array>
		<real>1</real>
		<real>0</real>
		<real>0.2</real>
		<real>1</real>
	</array>
	<key>XMLSpecial</key>
	<array>
		<real>0</real>
		<real>0.3</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>XMLParameter</key>
	<array>
		<real>0</real>
		<real>1</real>
		<real>0</real>
		<real>1</real>
	</array>
	<key>XMLValue</key>
	<array>
		<real>0.6</real>
		<real>0.6</real>
		<real>0.2</real>
		<real>1</real>
	</array>
	<key>Title</key>
	<string>SolarizedDark</string>
</dict>
</plist>
