<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ROOT</string>
	<key>submenu</key>
	<array>
		<dict>
			<key>content</key>
			<string></string>
			<key>key</key>
			<string></string>
			<key>name</key>
			<string>Magic Lines</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>content</key>
					<string>% !TEX useTabs</string>
					<key>key</key>
					<string></string>
					<key>name</key>
					<string>Use Tabs</string>
				</dict>
				<dict>
					<key>content</key>
					<string>% !TEX useTabsWithFiles
</string>
					<key>key</key>
					<string></string>
					<key>name</key>
					<string>Use Tabs with Files</string>
				</dict>
				<dict>
					<key>content</key>
					<string>% !TEX tabbedFile{ #SEL##INS#}(optional short name )</string>
					<key>key</key>
					<string></string>
					<key>name</key>
					<string>Tabbed File</string>
				</dict>
				<dict>
					<key>content</key>
					<string>% !TEX pdfSinglePage</string>
					<key>key</key>
					<string></string>
					<key>name</key>
					<string>PDF Single Page</string>
				</dict>
				<dict>
					<key>content</key>
					<string>% !TEX spellcheck = #SEL##INS#</string>
					<key>key</key>
					<string></string>
					<key>name</key>
					<string>Spell Check</string>
				</dict>
				<dict>
					<key>content</key>
					<string>% !BIB program = #SEL##INS#</string>
					<key>key</key>
					<string></string>
					<key>name</key>
					<string>BIB Program</string>
				</dict>
				<dict>
					<key>content</key>
					<string>% !TEX parameter = #SEL##INS#
</string>
					<key>key</key>
					<string></string>
					<key>name</key>
					<string>Extra Parameter for Engine Call</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
