<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AcceptFirstMouse</key>
	<string>YES</string>
	<key>AggressiveTrashAUX</key>
	<string>NO</string>
	<key>AlwaysHighlightEnabled</key>
	<string>NO</string>
	<key>AntiAlias</key>
	<string>YES</string>
	<key>AutoCompleteEnabled</key>
	<string>NO</string>
	<key>AutomaticDashSubstitution</key>
	<string>NO</string>
	<key>AutomaticDataDetection</key>
	<string>NO</string>
	<key>AutomaticLinkDetection</key>
	<string>NO</string>
	<key>AutomaticQuoteSubstitution</key>
	<string>NO</string>
	<key>AutomaticTextReplacement</key>
	<string>NO</string>
	<key>AutomaticUTF8MACtoUTF8Conversion</key>
	<string>YES</string>
	<key>background_B</key>
	<string> 1.0 </string>
	<key>background_G</key>
	<string> 1.0 </string>
	<key>background_R</key>
	<string> 1.0 </string>
	<key>backgroundAlpha</key>
	<string>0.00</string>
	<key>BeepEnabled</key>
	<string>NO</string>
	<key>BibDeskCompletion</key>
	<string>NO</string>
	<key>BibtexCommand</key>
	<string>1</string>
	<key>BibTeXengine</key>
	<string>pbibtex</string>
	<key>brieflyFlashYellowForMatch</key>
	<string>YES</string>
	<key>BringPdfFrontOnAutomaticUpdate</key>
	<string>YES</string>
	<key>BringPdfFrontOnTypeset</key>
	<string>YES</string>
	<key>CheckBraceEnabled</key>
	<string>YES</string>
	<key>CheckBracketEnabled</key>
	<string>NO</string>
	<key>CheckParenEnabled</key>
	<string>YES</string>
	<key>CheckSquareBracketEnabled</key>
	<string>YES</string>
	<key>commandblue</key>
	<string> 1.0 </string>
	<key>CommandCompletionAlterateMarkShortcut</key>
	<string>YES</string>
	<key>CommandCompletionChar</key>
	<string>ESCAPE</string>
	<key>commandgreen</key>
	<string> 0.0 </string>
	<key>commandred</key>
	<string> 0.0 </string>
	<key>commentblue</key>
	<string> 0.0 </string>
	<key>commentgreen</key>
	<string> 0.0 </string>
	<key>commentred</key>
	<string> 1.0 </string>
	<key>ConsoleBackgroundAlpha</key>
	<string>0.00</string>
	<key>ConsoleBackgroundColor_B</key>
	<string>.9176</string>
	<key>ConsoleBackgroundColor_G</key>
	<string>.9765</string>
	<key>ConsoleBackgroundColor_R</key>
	<string>.9961</string>
	<key>ConsoleBehavior</key>
	<false/>
	<key>ConsoleFontName</key>
	<string>Menlo</string>
	<key>ConsoleFontSize</key>
	<string>12.0</string>
	<key>ConsoleForegroundColor_B</key>
	<string>0.00</string>
	<key>ConsoleForegroundColor_G</key>
	<string>0.00</string>
	<key>ConsoleForegroundColor_R</key>
	<string>0.00</string>
	<key>ConsoleWidthResize</key>
	<string>NO</string>
	<key>ConsoleWindowAlpha</key>
	<string>1.00</string>
	<key>ConTeXtTags</key>
	<string>NO</string>
	<key>ConvertLF</key>
	<string>YES</string>
	<key>DefaultCommand</key>
	<string>1</string>
	<key>DefaultEngine</key>
	<string>XeLaTeX</string>
	<key>DefaultScript</key>
	<string>101</string>
	<key>DistillerCommand</key>
	<string>0</string>
	<key>DocumentWindowPositionMode</key>
	<string>1</string>
	<key>Encoding</key>
	<string>EUC_JP</string>
	<key>ExternalEditorTypesetAtStart</key>
	<string>YES</string>
	<key>FastColor</key>
	<string>NO</string>
	<key>FlashBackgroundEnabled</key>
	<string>NO</string>
	<key>foreground_B</key>
	<string>0.00</string>
	<key>foreground_G</key>
	<string>0.00</string>
	<key>foreground_R</key>
	<string>0.00</string>
	<key>FullwidthSpaceCharacterKind</key>
	<string>0</string>
	<key>GSBinPath</key>
	<string>/usr/local/bin</string>
	<key>highlightBracesBlue</key>
	<string>1.00</string>
	<key>highlightBracesGreen</key>
	<string>0.00</string>
	<key>highlightBracesRed</key>
	<string>1.00</string>
	<key>highlightContentBlue</key>
	<string>0.00</string>
	<key>HighlightContentEnabled</key>
	<string>NO</string>
	<key>highlightContentGreen</key>
	<string>1.00</string>
	<key>highlightContentRed</key>
	<string>1.00</string>
	<key>indexblue</key>
	<string> 0.00 </string>
	<key>indexgreen</key>
	<string> 1.00 </string>
	<key>indexred</key>
	<string> 1.00 </string>
	<key>insertionpoint_B</key>
	<string>0.00</string>
	<key>insertionpoint_G</key>
	<string>0.00</string>
	<key>insertionpoint_R</key>
	<string>0.00</string>
	<key>invisibleCharBlue</key>
	<string>0.00</string>
	<key>invisibleCharGreen</key>
	<string>0.50</string>
	<key>invisibleCharRed</key>
	<string>1.00</string>
	<key>KeepBackup</key>
	<string>NO</string>
	<key>Kpsetool</key>
	<string>kpsetool -w -n latex tex</string>
	<key>LastStyName</key>
	<string>latex.ltx</string>
	<key>LatexCommand</key>
	<string>pdflatex --file-line-error --synctex=1</string>
	<key>LatexGSCommand</key>
	<string>~/Library/TeXShop/bin/platex2pdf-euc</string>
	<key>LatexScriptCommand</key>
	<string> </string>
	<key>LeftRightArrowsAlwaysPage</key>
	<string>NO</string>
	<key>LineBreakMode</key>
	<string>1</string>
	<key>LineNumberEnabled</key>
	<string>YES</string>
	<key>LPanelOutlines</key>
	<string>YES</string>
	<key>MakeatletterEnabled</key>
	<string>YES</string>
	<key>MakeEmptyDocument</key>
	<string>YES</string>
	<key>markerblue</key>
	<string> 0.13 </string>
	<key>markergreen</key>
	<string> 0.51 </string>
	<key>markerred</key>
	<string> 0.02 </string>
	<key>matrixsize</key>
	<integer>12</integer>
	<key>MetaPostCommand</key>
	<string>0</string>
	<key>NewLineCharacterKind</key>
	<string>0</string>
	<key>NoScrollEnabled</key>
	<string>YES</string>
	<key>OtherTeXExtensions</key>
	<array/>
	<key>OtherTrashExtensions</key>
	<array/>
	<key>ParensMatchingEnabled</key>
	<string>1</string>
	<key>PdfBack_A</key>
	<string>0</string>
	<key>PdfBack_B</key>
	<string>1</string>
	<key>PdfBack_G</key>
	<string>1</string>
	<key>PdfBack_R</key>
	<string>1</string>
	<key>Pdfbackground_B</key>
	<string>1.00</string>
	<key>Pdfbackground_G</key>
	<string>1.00</string>
	<key>Pdfbackground_R</key>
	<string>1.00</string>
	<key>PdfColorMap</key>
	<string>0</string>
	<key>PdfColorParam1</key>
	<string>0</string>
	<key>PdfCopyType</key>
	<string>31</string>
	<key>PdfExportType</key>
	<string>2</string>
	<key>PdfFileRefresh</key>
	<string>YES</string>
	<key>PdfFirstPageStyle</key>
	<string>1</string>
	<key>PdfFitSize</key>
	<string>-101</string>
	<key>PdfFore_A</key>
	<string>1</string>
	<key>PdfFore_B</key>
	<string>0</string>
	<key>PdfFore_G</key>
	<string>0</string>
	<key>PdfFore_R</key>
	<string>0</string>
	<key>PdfKitFitSize</key>
	<string>3</string>
	<key>PdfKitMouseMode</key>
	<string>2</string>
	<key>PdfMagnification</key>
	<string>1</string>
	<key>PdfMouseMode</key>
	<string>2</string>
	<key>PdfPageStyle</key>
	<string>3</string>
	<key>PdfRefresh</key>
	<string>NO</string>
	<key>PdfWindowPositionMode</key>
	<string>1</string>
	<key>PreviewDrawerOpen</key>
	<string>NO</string>
	<key>PreviewWindowAlpha</key>
	<string>1.00</string>
	<key>ptexUtfOutput</key>
	<string>NO</string>
	<key>RedConsoleAfterError</key>
	<string>NO</string>
	<key>RefreshTime</key>
	<string>1.00</string>
	<key>ReleaseDocumentClasses</key>
	<string>1</string>
	<key>ReleaseDocumentOnLeopard</key>
	<string>YES</string>
	<key>RevisePath</key>
	<string>YES</string>
	<key>RightJustify</key>
	<string>NO</string>
	<key>SaveDocumentFont</key>
	<string>YES</string>
	<key>SavePSCommand</key>
	<string>NO</string>
	<key>SaveRelated</key>
	<string>NO</string>
	<key>ShowFullPathEnabled</key>
	<string>NO</string>
	<key>ShowFullwidthSpaceCharacter</key>
	<string>NO</string>
	<key>ShowIndicatorForMoveEnabled</key>
	<string>NO</string>
	<key>ShowNewLineCharacter</key>
	<string>NO</string>
	<key>ShowSpaceCharacter</key>
	<string>NO</string>
	<key>ShowSyncMarks</key>
	<string>NO</string>
	<key>ShowTabCharacter</key>
	<string>NO</string>
	<key>SmartInsertDelete</key>
	<string>NO</string>
	<key>SourceWindowAlpha</key>
	<string>1.00</string>
	<key>SpaceCharacterKind</key>
	<string>0</string>
	<key>SpellCheckEnabled</key>
	<string>YES</string>
	<key>SyncMethod</key>
	<string>3</string>
	<key>SyncTeXOnly</key>
	<string>NO</string>
	<key>syncWithRedOvals</key>
	<string>NO</string>
	<key>SyntaxColoringEnabled</key>
	<string>1</string>
	<key>TabCharacterKind</key>
	<string>0</string>
	<key>tabs</key>
	<string>4</string>
	<key>TagSections</key>
	<string>YES</string>
	<key>TetexBinPath</key>
	<string>/usr/local/bin</string>
	<key>TexCommand</key>
	<string>pdftex --file-line-error --synctex=1</string>
	<key>TexGSCommand</key>
	<string>~/Library/TeXShop/bin/ptex2pdf-euc</string>
	<key>TexScriptCommand</key>
	<string> </string>
	<key>TSHasBeenUsed</key>
	<string>YES</string>
	<key>UseExternalEditor</key>
	<string>NO</string>
	<key>UseOgreKit</key>
	<string>YES</string>
	<key>UseOldHeadingCommands</key>
	<string>NO</string>
	<key>UseOutline</key>
	<string>YES</string>
	<key>WarnForShellEscape</key>
	<string>NO</string>
	<key>FindMethod</key>
	<string>1</string>
	<key>AutoSave</key>
	<string>NO</string>
	<key>FixLineNumberScroll</key>
	<string>YES</string>
	<key>RightJustifyIfAny</key>
	<string>NO</string>
	<key>AutoSaveEnabled</key>
	<string>YES</string>
	<key>fullscreenPageStyle</key>
	<string>2</string>
	<key>fullscreenResizeOption</key>
	<string>3</string>
	<key>ScreenFontForLogAndConsole</key>
	<string>NO</string>
	<key>WatchServer</key>
	<string>YES</string>
	<key>SourceInterlineSpace</key>
	<string>1.0</string>
	<key>SpellingLanguage</key>
	<string>U. S. English</string>
	<key>SpellingAutomaticLanguage</key>
	<true/>
	<key>TagMenuInMenuBar</key>
	<false/>
	<key>ResetSourceTextColorEachTime</key>
	<false/>
	<key>SourceAndPreviewInSameWindow</key>
	<false/>
	<key>DocumentSplitWindowPosition</key>
	<string></string>
	<key>TabIndent</key>
	<false/>
	<key>AutoOpenRootFile</key>
	<true/>
	<key>MiniaturizeRootFile</key>
	<false/>
	<key>SwitchSides</key>
	<false/>
	<key>SourceScrollElasticity</key>
	<false/>
	<key>FixPreviewBlur</key>
	<false/>
	<key>InterpolationValue</key>
	<integer>3</integer>
	<key>YosemiteScrollBug</key>
	<true/>
	<key>SparkleAutomaticUpdate</key>
	<false/>
	<key>SparkleInterval</key>
	<integer>1</integer>
	<key>ReverseSyncRed</key>
	<string>1.00</string>
	<key>ReverseSyncGreen</key>
	<string>1.00</string>
	<key>ReverseSyncBlue</key>
	<string>0.00</string>
	<key>AutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>FixSplitBlankPages</key>
	<true/>
	<key>IndexColorStart</key>
	<false/>
	<key>SpellingLanguageDefault</key>
	<string></string>
	<key>SpellingAutomaticDefault</key>
	<true/>
	<key>OriginalSpelling</key>
	<false/>
	<key>ContinuousHighSierraFix</key>
	<true/>
	<key>TabsAlsoForInputFiles</key>
	<false/>
	<key>FlashFix</key>
	<true/>
	<key>FlashDelay</key>
	<string>0.50</string>
	<key>DefaultLiteTheme</key>
	<string>LiteTheme</string>
	<key>DefaultDarkTheme</key>
	<string>DarkTheme</string>
	<key>EditorCanAddBrackets</key>
	<false/>
	<key>ColorImmediately</key>
	<true/>
	<key>OpenWithSourceInFront</key>
	<false/>
	<key>SourceFirstLineHeadIndent</key>
	<string>0.0</string>
	<key>SourceHeadIndent</key>
	<string>0.0</string>
	<key>expl3SyntaxColoring</key>
	<false/>
	<key>SyntaxColorFootnote</key>
	<true/>
	<key>CreateLabelList</key>
	<true/>
	<key>CreateTagList</key>
	<true/>
	<key>UseNewTagsAndLabels</key>
	<true/>
	<key>TurnOffCommandSpellCheck</key>
	<false/>
	<key>TurnOffCommentSpellCheck</key>
	<false/>
	<key>TurnOffParameterSpellCheck</key>
	<false/>
	<key>ExceptionListExcludesParameters</key>
	<false/>
	<key>ExtraCommandsToCheckParameters</key>
	<array/>
	<key>ExtraCommandsNotToCheckParameters</key>
	<array/>
	<key>DoNotFixTeXCrash</key>
	<false/>
	<key>DisplayLogInfo</key>
	<false/>
	<key>UseTerminationHandler</key>
	<false/>
	<key>TextMateSync</key>
	<false/>
	<key>OtherEditorSync</key>
	<false/>
	<key>XMLChapterTag</key>
	<true/>
	<key>XMLSectionTag</key>
	<true/>
	<key>XMLSubsectionTag</key>
	<true/>
	<key>XMLSubsubsectionTag</key>
	<true/>
	<key>XMLIntroductionTag</key>
	<true/>
	<key>XMLConclusionTag</key>
	<true/>
	<key>XMLExercisesTag</key>
	<true/>
	<key>XMLProjectTag</key>
	<true/>
	<key>XMLFigureTag</key>
	<true/>
	<key>XMLTableTag</key>
	<true/>
	<key>XMLMarkTag</key>
	<true/>
	<key>RepeatTypesetOnError13</key>
	<false/>
	<key>CreateImage</key>
	<integer>1</integer>
	<key>IncrementalSearch</key>
	<true/>
	<key>NewToolbar</key>
	<false/>
	<key>NewToolbarIcons</key>
	<true/>
	<key>SyncUseTabs</key>
	<false/>
	<key>AltPath</key>
	<string>~/bin/context/tex/texmf-osx-arm64/bin</string>
	<key>IgnoreStartOnReboot</key>
	<false/>
	<key>OpenAsTabs</key>
	<integer>0</integer>
	<key>SyntaxColorEntryLine</key>
	<false/>
	<key>FixVoiceOver</key>
	<false/>
	<key>DisplayAsBook</key>
	<true/>
	<key>AlternateEngine</key>
	<string>pdflatexmk</string>
	<key>HtmlWindowPosMode</key>
	<string>1</string>
	<key>HtmlWindowFixedPos</key>
	<string>18 678 507 479 0 0 1920 1178</string>
	<key>HtmlHome</key>
	<string></string>
	<key>GlassMaxMagnification</key>
	<integer>250</integer>
	<key>EncodingMenuInSaveDialog</key>
	<false/>
	<key>BlockCursor</key>
	<false/>
	<key>BlockCursorR</key>
	<real>0</real>
	<key>BlockCursorG</key>
	<real>1</real>
	<key>BlockCursorB</key>
	<real>1</real>
	<key>BlockWidth</key>
	<string>0</string>
	<key>BlockSide</key>
	<string>1</string>
	<key>SameFontForMacro</key>
	<false/>
	<key>UseTransparency</key>
	<false/>
	<key>LineNumberSize</key>
	<integer>0</integer>
	<key>LinkPopups</key>
	<true/>
	<key>MathExpressionCompletion</key>
	<integer>0</integer>
	<key>BringFrontOnTypeset</key>
	<integer>0</integer>
</dict>
</plist>
