<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsoleAlpha</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>ConsoleBackground</key>
	<array>
		<real>0.99609999999999999</real>
		<real>0.97650000000000003</real>
		<real>0.91759999999999997</real>
		<real>1</real>
	</array>
	<key>ConsoleText</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>EditorBackground</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>EditorFlash</key>
	<array>
		<real>0.9819796085357666</real>
		<real>0.93916904926300049</real>
		<real>0.99983048439025879</real>
		<real>1</real>
	</array>
	<key>EditorHighlightBraces</key>
	<array>
		<real>0.96195238828659058</real>
		<real>0.2225876178590657</real>
		<real>0.21896415399337027</real>
		<real>1</real>
	</array>
	<key>EditorHighlightContent</key>
	<array>
		<real>0.89462989568710327</real>
		<real>0.24120089253370905</real>
		<real>0.21387407611371526</real>
		<real>1</real>
	</array>
	<key>EditorInsertionPoint</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>EditorInvisibleChar</key>
	<array>
		<real>1.2350000000000001</real>
		<real>0.012999999999999999</real>
		<real>0.010999999999999999</real>
		<integer>1</integer>
	</array>
	<key>EditorReverseSync</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>EditorText</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<integer>1</integer>
	</array>
	<key>ImageBackground</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>ImageForeground</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>LogBackground</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>LogText</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>PreviewAlpha</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<real>1</real>
	</array>
	<key>PreviewBackground</key>
	<array>
		<real>0.999</real>
		<real>0.999</real>
		<real>0.999</real>
		<real>1</real>
	</array>
	<key>PreviewDirectSync</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<real>0.59999999999999998</real>
	</array>
	<key>SourceAlpha</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<real>1</real>
	</array>
	<key>SyntaxCommand</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>SyntaxComment</key>
	<array>
		<real>1</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>SyntaxIndex</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>SyntaxMarker</key>
	<array>
		<real>0.02</real>
		<real>0.51000000000000001</real>
		<real>0.13</real>
		<integer>1</integer>
	</array>
	<key>Title</key>
	<string>LiteColors</string>
</dict>
</plist>
