<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ROOT</string>
	<key>submenu</key>
	<array>
		<dict>
			<key>content</key>
			<string>&lt;!--
% !TEX TS-program = PreTeXt-LaTeX
--&gt;</string>
			<key>key</key>
			<string></string>
			<key>name</key>
			<string>PreTeXt Header</string>
		</dict>
		<dict>
			<key>content</key>
			<string>&lt;!--! xxxx --&gt;</string>
			<key>key</key>
			<string></string>
			<key>name</key>
			<string>PreText Personal Mark</string>
		</dict>
	</array>
</dict>
</plist>
