/* Localized versions of Info.plist keys */

{
    NSInfoPlistVersion = "6.0";
    NSAppVersion = "1.0";
    NSHumanReadableShortName = "TeXShop";
    NSHumanReadableCompleteName = "TeXShop"; 
    NSHumanReadableCopyright = "Copyright (c) 2000, Eugene Algorithms";
    NSTypes = (
     {
        NSName = "tex";
        NSHumanReadableName = "TeX Document";
        NSUnixExtensions = ("tex", "TEX", "txt", "TXT");
        NSMacOSTypes = ("????", "TEXT");
        NSDOSExtensions = ("tex");
        NSRole = Editor;
        NSDocumentClass = Document;
      }
    );
}